.Form {
	width: 60%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

	background-image: linear-gradient(
			156deg,
			rgba(2, 0, 36, 0.5883928571428571) 0%,
			rgba(9, 103, 121, 0.9220063025210083) 47%,
			rgba(255, 0, 159, 0.5875525210084033) 100%
		),
		url("https://free4kwallpapers.com/uploads/originals/2020/04/16/bright-moon-city-wallpaper.jpg");
}
