.App {
	/* height: 800px; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: linear-gradient(red, blue);
	background: url("https://free4kwallpapers.com/uploads/originals/2020/04/16/bright-moon-city-wallpaper.jpg")
		no-repeat center center/cover;
}
